<%- include('partials/header') %>

<div class="container">
  <div class="centered-div">

    <form action="/qr" method="post">
      <div class="wave-group">
        <input required="" name="text" type="text" class="input">
        <span class="bar"></span>
        <label class="label">
          <span class="label-char" style="--index: 0">T</span>
          <span class="label-char" style="--index: 1">E</span>
          <span class="label-char" style="--index: 2">X</span>
          <span class="label-char" style="--index: 3">T</span>
        </label>
      </div>

      <button class="btn" type="submit"> Covert </button>
    </form>

    <img src="data:image/png;base64,<%= locals.image %>" alt="qr-code" />

    <!-- <p class="mt-5 mb-3 text-body-secondary">© dk </p> -->
    <hr>
    <video id="qr-video" width="90%" height="40%"></video>
    <p id="res">_____________</p>
    <button type="button" id="play">Sacn QR</button>
  </div>
</div>


<%- include('scan.ejs') %>

<%- include('partials/footer') %>
